//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 08 20:29:47 2017
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P79" LEVEL 1;
COMP "SW1" LOCATE = SITE "P102" LEVEL 1;
PIN SW1_pin<0> = BEL "SW1" PINNAME PAD;
PIN "SW1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW2" LOCATE = SITE "P101" LEVEL 1;
PIN SW2_pin<0> = BEL "SW2" PINNAME PAD;
PIN "SW2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW3" LOCATE = SITE "P100" LEVEL 1;
PIN SW3_pin<0> = BEL "SW3" PINNAME PAD;
PIN "SW3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RESET" LOCATE = SITE "P205" LEVEL 1;
PIN RESET_pin<0> = BEL "RESET" PINNAME PAD;
PIN "RESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SEG_A" LOCATE = SITE "P31" LEVEL 1;
COMP "SEG_B" LOCATE = SITE "P33" LEVEL 1;
COMP "SEG_C" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG_D" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG_E" LOCATE = SITE "P36" LEVEL 1;
COMP "SEG_F" LOCATE = SITE "P37" LEVEL 1;
COMP "SEG_G" LOCATE = SITE "P39" LEVEL 1;
COMP "LCD_EN" LOCATE = SITE "P52" LEVEL 1;
COMP "SEG_DP" LOCATE = SITE "P48" LEVEL 1;
COMP "DIGIT<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "DIGIT<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "DIGIT<3>" LOCATE = SITE "P26" LEVEL 1;
COMP "DIGIT<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "DIGIT<5>" LOCATE = SITE "P28" LEVEL 1;
COMP "DIGIT<6>" LOCATE = SITE "P29" LEVEL 1;
COMP "LCD_A<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "LCD_A<1>" LOCATE = SITE "P51" LEVEL 1;
COMP "LCD_D<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "LCD_D<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "LCD_D<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "LCD_D<3>" LOCATE = SITE "P62" LEVEL 1;
COMP "LCD_D<4>" LOCATE = SITE "P63" LEVEL 1;
COMP "LCD_D<5>" LOCATE = SITE "P64" LEVEL 1;
COMP "LCD_D<6>" LOCATE = SITE "P65" LEVEL 1;
COMP "LCD_D<7>" LOCATE = SITE "P67" LEVEL 1;
NET "SW3_BUFGP/IBUFG" BEL "SW3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "SW1_BUFGP/IBUFG" BEL "SW1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "SW2_BUFGP/IBUFG" BEL "SW2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

