
# PlanAhead Generated physical constraints 

NET "CLK" LOC = P79;
NET "RESET" LOC = P205;
NET "SEG_A" LOC = P31;
NET "SEG_B" LOC = P33;
NET "SEG_C" LOC = P34;
NET "SEG_D" LOC = P35;
NET "SEG_E" LOC = P36;
NET "SEG_F" LOC = P37;
NET "SEG_G" LOC = P39;
NET "SEG_DP" LOC = P48;
NET "SW1" LOC = P102;
NET "SW2" LOC = P101;
NET "SW3" LOC = P100;
NET "DIGIT[1]" LOC = P22;
NET "DIGIT[2]" LOC = P24;
NET "DIGIT[3]" LOC = P26;
NET "DIGIT[4]" LOC = P27;
NET "DIGIT[5]" LOC = P28;
NET "DIGIT[6]" LOC = P29;

NET "SW1" CLOCK_DEDICATED_ROUTE = FALSE;